force-app/main/default/flows/New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="utf-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <apiVersion>62.0</apiVersion>
  <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
  <choices>
    <name>ContractRenewal</name>
    <choiceText>&lt;span style="background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);"&gt;Contract Renewal&lt;/span&gt;</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>Contract Renewal</stringValue>
    </value>
  </choices>
  <choices>
    <name>ExpandBusiness</name>
    <choiceText>Expand Business</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>Expand Business</stringValue>
    </value>
  </choices>
  <choices>
    <name>NewBusiness</name>
    <choiceText>&lt;span style="background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);"&gt;New Business&lt;/span&gt;</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>New Business</stringValue>
    </value>
  </choices>
  <choices>
    <name>ReagentRental</name>
    <choiceText>Reagent Rental</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>Reagent Rental</stringValue>
    </value>
  </choices>
  <choices>
    <name>Replacement</name>
    <choiceText>Replacement</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>Replacement</stringValue>
    </value>
  </choices>
  <decisions>
    <name>Adding_Products</name>
    <label>Adding Products</label>
    <locationX>1626</locationX>
    <locationY>566</locationY>
    <defaultConnector>
      <targetReference>Copy_2_of_Copy_1_of_Checking_User</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>Create Opportunity at Prospect stage</defaultConnectorLabel>
    <rules>
      <name>Add_Products_to_Opportunity</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>addProducts.value</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Checking_User</targetReference>
      </connector>
      <label>Add Products to Opportunity</label>
    </rules>
  </decisions>
  <decisions>
    <name>Checking_Opportunity</name>
    <label>Checking Opportunity</label>
    <locationX>574</locationX>
    <locationY>1406</locationY>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>If_Opp_1</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Create_Opportunity_for_Products</leftValueReference>
        <operator>NotEqualTo</operator>
        <rightValue>
          <stringValue></stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Loop_1</targetReference>
      </connector>
      <label>If Opp 1</label>
    </rules>
    <rules>
      <name>If_Opp_2</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Copy_1_of_Create_Opportunity_for_Products</leftValueReference>
        <operator>NotEqualTo</operator>
        <rightValue>
          <stringValue></stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Copy_1_of_Loop_1</targetReference>
      </connector>
      <label>If Opp 2</label>
    </rules>
  </decisions>
  <decisions>
    <name>Checking_User</name>
    <label>Checking User</label>
    <locationX>574</locationX>
    <locationY>674</locationY>
    <defaultConnector>
      <targetReference>Copy_1_of_Create_Opportunity_for_Products</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>If_US</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Get_User_Region_Settings.Malbek_User__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Create_Opportunity_for_Products</targetReference>
      </connector>
      <label>If US</label>
    </rules>
  </decisions>
  <decisions>
    <name>Copy_2_of_Copy_1_of_Checking_User</name>
    <label>Copy 2 of Copy 1 of Checking User</label>
    <locationX>2682</locationX>
    <locationY>674</locationY>
    <defaultConnector>
      <targetReference>Copy_1_of_Create_Opportunity</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>Copy_2_of_Copy_1_of_If_US</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Get_User_Region_Settings.Malbek_User__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Create_Opportunity</targetReference>
      </connector>
      <label>Copy 2 of Copy 1 of If US</label>
    </rules>
  </decisions>
  <description>Flow to create an Opportunity from the Contact screen. This is called from the action button Create Opportunity.</description>
  <dynamicChoiceSets>
    <name>addOpportunityProducts</name>
    <collectionReference>Get_PriceBook_Entries</collectionReference>
    <dataType>String</dataType>
    <displayField>Name</displayField>
    <object>PricebookEntry</object>
    <valueField>Id</valueField>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>chooseOpportunityType</name>
    <dataType>Picklist</dataType>
    <displayField xsi:nil="true" />
    <object xsi:nil="true" />
    <picklistField>Type</picklistField>
    <picklistObject>Opportunity</picklistObject>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>chooseOppProduct</name>
    <collectionReference>Get_PriceBook_Entries</collectionReference>
    <dataType>String</dataType>
    <displayField>Name</displayField>
    <object>PricebookEntry</object>
    <valueField>Id</valueField>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>ContractTypePicklist</name>
    <dataType>Picklist</dataType>
    <displayField xsi:nil="true" />
    <object xsi:nil="true" />
    <picklistField>Contract_Type__c</picklistField>
    <picklistObject>Opportunity</picklistObject>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>ContractTypePicklist1</name>
    <dataType>Picklist</dataType>
    <displayField xsi:nil="true" />
    <object xsi:nil="true" />
    <picklistField>Contract_Type__c</picklistField>
    <picklistObject>Opportunity</picklistObject>
    <sortOrder>Asc</sortOrder>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>oppShareType</name>
    <dataType>Picklist</dataType>
    <displayField xsi:nil="true" />
    <object xsi:nil="true" />
    <picklistField>Opportunity_Type__c</picklistField>
    <picklistObject>Opportunity</picklistObject>
  </dynamicChoiceSets>
  <dynamicChoiceSets>
    <name>selectPriceBook</name>
    <collectionReference>Get_PriceBooks</collectionReference>
    <dataType>String</dataType>
    <displayField>Name</displayField>
    <object>Pricebook2</object>
    <valueField>Id</valueField>
  </dynamicChoiceSets>
  <environments>Default</environments>
  <formulas>
    <description>for MBD set the close date default to today +180</description>
    <name>defaultCloseDate</name>
    <dataType>Date</dataType>
    <expression>today()+180</expression>
  </formulas>
  <formulas>
    <name>EUOnlyPermission</name>
    <dataType>Boolean</dataType>
    <expression>true</expression>
  </formulas>
  <formulas>
    <description>this is value to use for the opportunity, will default to the users role division unless the user changes it</description>
    <name>OpportunityDivision</name>
    <dataType>String</dataType>
    <expression>IF({!changeDivision.value}=true, ({!selectedOppDivision}),({!userRoleDivision}))</expression>
  </formulas>
  <formulas>
    <description>if the user is happy with the division taken from their role then use that else use the value selected</description>
    <name>selectedOppDivision</name>
    <dataType>String</dataType>
    <expression>If({!changeDivision.value}=False,{!userRoleDivision}, TEXT({!Opportunity.JP_IDD_Division__c}))</expression>
  </formulas>
  <formulas>
    <description>get the current users division from their Role</description>
    <name>userRoleDivision</name>
    <dataType>String</dataType>
    <expression>TEXT({!$User.Div__c})</expression>
  </formulas>
  <formulas>
    <name>USOnlyPermission</name>
    <dataType>Boolean</dataType>
    <expression>true</expression>
  </formulas>
  <interviewLabel>New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
  <label>New Opportunity</label>
  <loops>
    <name>Copy_1_of_Loop_1</name>
    <label>Copy 1 of Loop 1</label>
    <locationX>618</locationX>
    <locationY>1514</locationY>
    <collectionReference>OpportunityProductSelection.AllItems</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <nextValueConnector>
      <targetReference>Copy_1_of_Create_Opportunity_Products</targetReference>
    </nextValueConnector>
  </loops>
  <loops>
    <name>Loop_1</name>
    <label>Loop 1</label>
    <locationX>50</locationX>
    <locationY>1514</locationY>
    <collectionReference>OpportunityProductSelection.AllItems</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <nextValueConnector>
      <targetReference>Create_Opportunity_Products</targetReference>
    </nextValueConnector>
  </loops>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>FREE_FORM_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>OriginBuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processType>Flow</processType>
  <recordCreates>
    <name>Copy_1_of_Create_Contact_Role</name>
    <label>Copy 1 of Create Contact Role</label>
    <locationX>2946</locationX>
    <locationY>890</locationY>
    <connector>
      <targetReference>Copy_2_of_Opportunity_Created</targetReference>
    </connector>
    <inputAssignments>
      <field>ContactId</field>
      <value>
        <elementReference>recordId.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>IsPrimary</field>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>OpportunityId</field>
      <value>
        <elementReference>Copy_1_of_Create_Opportunity</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Role</field>
      <value>
        <stringValue>Decision Maker</stringValue>
      </value>
    </inputAssignments>
    <object>OpportunityContactRole</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Copy_1_of_Create_Opportunity</name>
    <label>Copy 1 of Create Opportunity</label>
    <locationX>2946</locationX>
    <locationY>782</locationY>
    <connector>
      <targetReference>Copy_1_of_Create_Contact_Role</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Copy_1_of_Copy_1_of_Error_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>AccountId</field>
      <value>
        <elementReference>recordId.AccountId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Amount</field>
      <value>
        <elementReference>Opportunity_Amount</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>CloseDate</field>
      <value>
        <elementReference>Closing_Date</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>JP_IDD_Division__c</field>
      <value>
        <elementReference>OpportunityDivision</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Local_Name__c</field>
      <value>
        <elementReference>Opportunity.Local_Name__c</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Name</field>
      <value>
        <stringValue>Opportunity Flow</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Opportunity_Type__c</field>
      <value>
        <elementReference>Opportunity_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>StageName</field>
      <value>
        <stringValue>Prospect</stringValue>
      </value>
    </inputAssignments>
    <object>Opportunity</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Copy_1_of_Create_Opportunity_for_Products</name>
    <label>Copy 1 of Create Opportunity for Products</label>
    <locationX>706</locationX>
    <locationY>782</locationY>
    <connector>
      <targetReference>Get_PriceBooks</targetReference>
    </connector>
    <inputAssignments>
      <field>AccountId</field>
      <value>
        <elementReference>recordId.AccountId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Amount</field>
      <value>
        <elementReference>Opportunity_Amount</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>CloseDate</field>
      <value>
        <elementReference>Closing_Date</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>JP_IDD_Division__c</field>
      <value>
        <elementReference>OpportunityDivision</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Local_Name__c</field>
      <value>
        <elementReference>Opportunity.Local_Name__c</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Name</field>
      <value>
        <stringValue>Opportunity Flow</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Opportunity_Type__c</field>
      <value>
        <elementReference>Opportunity_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>StageName</field>
      <value>
        <stringValue>Prospect</stringValue>
      </value>
    </inputAssignments>
    <object>Opportunity</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Copy_1_of_Create_Opportunity_Products</name>
    <label>Copy 1 of Create Opportunity Products</label>
    <locationX>706</locationX>
    <locationY>1622</locationY>
    <connector>
      <targetReference>Copy_1_of_Loop_1</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Copy_3_of_Error_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>OpportunityId</field>
      <value>
        <elementReference>Copy_1_of_Create_Opportunity_for_Products</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>PricebookEntryId</field>
      <value>
        <elementReference>Loop_1.Product_Selection.selectedChoiceValues</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Quantity</field>
      <value>
        <elementReference>Loop_1.Qty</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Revenue_Months__c</field>
      <value>
        <elementReference>Loop_1.Revenue_Months</elementReference>
      </value>
    </inputAssignments>
    <object>OpportunityLineItem</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Contact_Role</name>
    <label>Create Contact Role</label>
    <locationX>2418</locationX>
    <locationY>890</locationY>
    <connector>
      <targetReference>Update_Contract</targetReference>
    </connector>
    <inputAssignments>
      <field>ContactId</field>
      <value>
        <elementReference>recordId.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>IsPrimary</field>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>OpportunityId</field>
      <value>
        <elementReference>Create_Opportunity</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Role</field>
      <value>
        <stringValue>Decision Maker</stringValue>
      </value>
    </inputAssignments>
    <object>OpportunityContactRole</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Opportunity</name>
    <label>Create Opportunity</label>
    <locationX>2418</locationX>
    <locationY>782</locationY>
    <connector>
      <targetReference>Create_Contact_Role</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Copy_1_of_Error_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>AccountId</field>
      <value>
        <elementReference>recordId.AccountId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Amount</field>
      <value>
        <elementReference>Opportunity_Amount</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>CloseDate</field>
      <value>
        <elementReference>Closing_Date</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Contract_Type__c</field>
      <value>
        <elementReference>Contract_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>JP_IDD_Division__c</field>
      <value>
        <elementReference>OpportunityDivision</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Local_Name__c</field>
      <value>
        <elementReference>Opportunity.Local_Name__c</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Name</field>
      <value>
        <stringValue>Opportunity Flow</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Opportunity_Type__c</field>
      <value>
        <elementReference>Opportunity_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>StageName</field>
      <value>
        <stringValue>Prospect</stringValue>
      </value>
    </inputAssignments>
    <object>Opportunity</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Opportunity_for_Products</name>
    <label>Create Opportunity for Products</label>
    <locationX>442</locationX>
    <locationY>782</locationY>
    <connector>
      <targetReference>Get_PriceBooks</targetReference>
    </connector>
    <inputAssignments>
      <field>AccountId</field>
      <value>
        <elementReference>recordId.AccountId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Amount</field>
      <value>
        <elementReference>Opportunity_Amount</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>CloseDate</field>
      <value>
        <elementReference>Closing_Date</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Contract_Type__c</field>
      <value>
        <elementReference>Contract_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>JP_IDD_Division__c</field>
      <value>
        <elementReference>OpportunityDivision</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Local_Name__c</field>
      <value>
        <elementReference>Opportunity.Local_Name__c</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Name</field>
      <value>
        <stringValue>Opportunity Flow</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Opportunity_Type__c</field>
      <value>
        <elementReference>Opportunity_Type</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>StageName</field>
      <value>
        <stringValue>Prospect</stringValue>
      </value>
    </inputAssignments>
    <object>Opportunity</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Opportunity_Products</name>
    <label>Create Opportunity Products</label>
    <locationX>138</locationX>
    <locationY>1622</locationY>
    <connector>
      <targetReference>Loop_1</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Copy_4_of_Error_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>OpportunityId</field>
      <value>
        <elementReference>Create_Opportunity_for_Products</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>PricebookEntryId</field>
      <value>
        <elementReference>Loop_1.Product_Selection.selectedChoiceValues</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Quantity</field>
      <value>
        <elementReference>Loop_1.Qty</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Revenue_Months__c</field>
      <value>
        <elementReference>Loop_1.Revenue_Months</elementReference>
      </value>
    </inputAssignments>
    <object>OpportunityLineItem</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordLookups>
    <name>Get_PriceBook_Entries</name>
    <label>Get PriceBook Entries</label>
    <locationX>574</locationX>
    <locationY>1190</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Opportunity_Products</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Pricebook2Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Select_PriceBook.selectedChoiceValues</elementReference>
      </value>
    </filters>
    <filters>
      <field>IsActive</field>
      <operator>EqualTo</operator>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </filters>
    <getFirstRecordOnly>false</getFirstRecordOnly>
    <object>PricebookEntry</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_PriceBooks</name>
    <label>Get PriceBooks</label>
    <locationX>574</locationX>
    <locationY>974</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>PriceBook_Selection</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>IsActive</field>
      <operator>EqualTo</operator>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </filters>
    <filters>
      <field>Name</field>
      <operator>StartsWith</operator>
      <value>
        <elementReference>OpportunityDivision</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>false</getFirstRecordOnly>
    <object>Pricebook2</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_User_Details</name>
    <label>Get User Details</label>
    <locationX>1626</locationX>
    <locationY>134</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Get_User_Region_Settings</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>$User.Id</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>User</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_User_Region_Settings</name>
    <label>Get User Region Settings</label>
    <locationX>1626</locationX>
    <locationY>350</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>New_Opportunity_Flow</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>UserId__c</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>$User.Id</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>User_Region_Settings__c</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordUpdates>
    <name>Update_Contract</name>
    <label>Update Contract</label>
    <locationX>2418</locationX>
    <locationY>998</locationY>
    <connector>
      <targetReference>Opportunity_Created</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Opportunity__c</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Create_Opportunity</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>ContactId</field>
      <value>
        <elementReference>recordId.Id</elementReference>
      </value>
    </inputAssignments>
    <object>ServiceContract</object>
  </recordUpdates>
  <screens>
    <name>Copy_1_of_Copy_1_of_Error_Message</name>
    <label>Copy 1 of Copy 1 of Error Message</label>
    <locationX>3210</locationX>
    <locationY>890</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>Copy_1_of_Copy_1_of_Error_Message_Display</name>
      <fieldText>&lt;p&gt;&lt;strong style="color: rgb(255, 0, 0);"&gt;ERROR: &lt;/strong&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Copy_1_of_Error_Message</name>
    <label>Copy 1 of Error Message</label>
    <locationX>2682</locationX>
    <locationY>890</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>Copy_1_of_Error_Message_Display</name>
      <fieldText>&lt;p&gt;&lt;strong style="color: rgb(255, 0, 0);"&gt;ERROR: &lt;/strong&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <description>display success message and link to Opportunity</description>
    <name>Copy_2_of_Opportunity_Created</name>
    <label>Copy 2 of Opportunity Created</label>
    <locationX>2946</locationX>
    <locationY>998</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>Copy_2_of_OppSuccessMessage</name>
      <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="color: rgb(0, 103, 127); font-size: 18px;"&gt;You have successfully created your Opportunity &lt;/span&gt;&lt;a href="/{!Copy_1_of_Create_Opportunity}" rel="noopener noreferrer" target="_blank" style="color: rgb(0, 103, 127); font-size: 18px;"&gt;click here &lt;/a&gt;&lt;span style="color: rgb(0, 103, 127); font-size: 18px;"&gt;to open it&lt;/span&gt;&lt;span style="color: rgb(0, 103, 127);"&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Copy_3_of_Error_Message</name>
    <label>Copy 3 of Error Message</label>
    <locationX>970</locationX>
    <locationY>1730</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>Copy_3_of_Error_Message_Display</name>
      <fieldText>&lt;p&gt;&lt;strong style="color: rgb(255, 0, 0);"&gt;ERROR:&lt;/strong&gt; {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Copy_4_of_Error_Message</name>
    <label>Copy 4 of Error Message</label>
    <locationX>402</locationX>
    <locationY>1730</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>Copy_4_of_Error_Message_Display</name>
      <fieldText>&lt;p&gt;&lt;strong style="color: rgb(255, 0, 0);"&gt;ERROR:&lt;/strong&gt; {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>New_Opportunity_Flow</name>
    <label>New Opportunity Flow</label>
    <locationX>1626</locationX>
    <locationY>458</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <connector>
      <targetReference>Adding_Products</targetReference>
    </connector>
    <fields>
      <name>newOpportunityCreationWelcome</name>
      <fieldText>&amp;lt;p style="text-align: center;"&amp;gt;You are going to create an Opportunity for &amp;lt;strong&amp;gt;{!recordId.Name}&amp;lt;/strong&amp;gt; at &amp;lt;strong&amp;gt;{!recordId.Account.Name}&amp;lt;/strong&amp;gt;.&amp;lt;/p&amp;gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <fields>
      <name>New_Opportunity_Flow_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>New_Opportunity_Flow_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>changeDivision</name>
          <extensionName>flowruntime:toggle</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>label</name>
            <value>
              <stringValue>Change Opportunity Division</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>messageToggleInactive</name>
            <value>
              <stringValue>Ok</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>messageToggleActive</name>
            <value>
              <stringValue>Update</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>2</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>2</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section1_Column4</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <fields>
      <name>New_Opportunity_Flow_Section2</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>New_Opportunity_Flow_Section2_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <fieldType>ObjectProvided</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>false</isRequired>
          <objectFieldReference>Opportunity.Local_Name__c</objectFieldReference>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>7</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section2_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>5</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <fields>
      <name>New_Opportunity_Flow_Section3</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>New_Opportunity_Flow_Section3_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Opportunity_Type</name>
          <choiceReferences>NewBusiness</choiceReferences>
          <choiceReferences>ExpandBusiness</choiceReferences>
          <choiceReferences>Replacement</choiceReferences>
          <choiceReferences>ContractRenewal</choiceReferences>
          <dataType>String</dataType>
          <fieldText>Opportunity Type</fieldText>
          <fieldType>DropdownBox</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <fields>
          <fieldType>ObjectProvided</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>false</isRequired>
          <objectFieldReference>Opportunity.Distribution_Channel__c</objectFieldReference>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section3_Column2</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Closing_Date</name>
          <dataType>Date</dataType>
          <defaultValue>
            <elementReference>defaultCloseDate</elementReference>
          </defaultValue>
          <fieldText>Closing Date</fieldText>
          <fieldType>InputField</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <fields>
          <name>Contract_Type</name>
          <choiceReferences>ReagentRental</choiceReferences>
          <dataType>String</dataType>
          <fieldText>Contract Type</fieldText>
          <fieldType>DropdownBox</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>false</isRequired>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
          <visibilityRule>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
              <leftValueReference>ExpandBusiness</leftValueReference>
              <operator>WasSelected</operator>
              <rightValue>
                <booleanValue>true</booleanValue>
              </rightValue>
            </conditions>
            <conditions>
              <leftValueReference>NewBusiness</leftValueReference>
              <operator>WasSelected</operator>
              <rightValue>
                <booleanValue>true</booleanValue>
              </rightValue>
            </conditions>
            <conditions>
              <leftValueReference>Replacement</leftValueReference>
              <operator>WasSelected</operator>
              <rightValue>
                <booleanValue>true</booleanValue>
              </rightValue>
            </conditions>
            <conditions>
              <leftValueReference>Get_User_Region_Settings.Region__c</leftValueReference>
              <operator>EqualTo</operator>
              <rightValue>
                <stringValue>US</stringValue>
              </rightValue>
            </conditions>
            <conditions>
              <leftValueReference>Get_User_Region_Settings.Region__c</leftValueReference>
              <operator>EqualTo</operator>
              <rightValue>
                <stringValue>Both</stringValue>
              </rightValue>
            </conditions>
            <conditions>
              <leftValueReference>Get_User_Region_Settings.Malbek_User__c</leftValueReference>
              <operator>EqualTo</operator>
              <rightValue>
                <booleanValue>true</booleanValue>
              </rightValue>
            </conditions>
          </visibilityRule>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section3_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Opportunity_Amount</name>
          <dataType>Number</dataType>
          <defaultValue>
            <numberValue>500.0</numberValue>
          </defaultValue>
          <fieldText>Opportunity Amount</fieldText>
          <fieldType>InputField</fieldType>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <scale>0</scale>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <fields>
      <name>New_Opportunity_Flow_Section4</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>New_Opportunity_Flow_Section4_Column1</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>12</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <fields>
      <name>New_Opportunity_Flow_Section5</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>New_Opportunity_Flow_Section5_Column1</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section5_Column2</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>addProducts</name>
          <extensionName>flowruntime:toggle</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>messageToggleInactive</name>
            <value>
              <stringValue>Add later</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>messageToggleActive</name>
            <value>
              <stringValue>Add Now</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>label</name>
            <value>
              <stringValue>Do you want to add Products</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
          <styleProperties>
            <verticalAlignment>
              <stringValue>top</stringValue>
            </verticalAlignment>
            <width>
              <stringValue>12</stringValue>
            </width>
          </styleProperties>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>New_Opportunity_Flow_Section5_Column3</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>4</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
      <visibilityRule>
        <conditionLogic>and</conditionLogic>
        <conditions>
          <leftValueReference>$Flow.CurrentDate</leftValueReference>
          <operator>NotEqualTo</operator>
          <rightValue>
            <elementReference>$Flow.CurrentDate</elementReference>
          </rightValue>
        </conditions>
      </visibilityRule>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <description>display success message and link to Opportunity</description>
    <name>Opportunity_Created</name>
    <label>Opportunity Created</label>
    <locationX>2418</locationX>
    <locationY>1106</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>OppSuccessMessage</name>
      <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="font-size: 18px; color: rgb(0, 103, 127);"&gt;You have successfully created your Opportunity &lt;/span&gt;&lt;a href="/{!Create_Opportunity}" rel="noopener noreferrer" target="_blank" style="font-size: 18px; color: rgb(0, 103, 127);"&gt;&lt;strong&gt;click here&lt;/strong&gt; &lt;/a&gt;&lt;span style="font-size: 18px; color: rgb(0, 103, 127);"&gt;to open it&lt;/span&gt;&lt;span style="color: rgb(0, 103, 127);"&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Opportunity_Products</name>
    <label>Opportunity Products</label>
    <locationX>574</locationX>
    <locationY>1298</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <connector>
      <targetReference>Checking_Opportunity</targetReference>
    </connector>
    <fields>
      <name>OpportunityProductSelection</name>
      <fieldType>Repeater</fieldType>
      <fields>
        <name>Product_Selection</name>
        <choiceReferences>chooseOppProduct</choiceReferences>
        <extensionName>flowruntime:choiceLookup</extensionName>
        <fieldText>Product Selection</fieldText>
        <fieldType>ComponentChoice</fieldType>
        <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        <isRequired>false</isRequired>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <styleProperties>
          <verticalAlignment>
            <stringValue>top</stringValue>
          </verticalAlignment>
          <width>
            <stringValue>12</stringValue>
          </width>
        </styleProperties>
      </fields>
      <fields>
        <name>Qty</name>
        <dataType>Number</dataType>
        <defaultValue>
          <numberValue>1.0</numberValue>
        </defaultValue>
        <fieldText>Qty</fieldText>
        <fieldType>InputField</fieldType>
        <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        <isRequired>true</isRequired>
        <scale>0</scale>
        <styleProperties>
          <verticalAlignment>
            <stringValue>top</stringValue>
          </verticalAlignment>
          <width>
            <stringValue>12</stringValue>
          </width>
        </styleProperties>
      </fields>
      <fields>
        <name>Revenue_Months</name>
        <dataType>Number</dataType>
        <defaultValue>
          <elementReference>OpportunityProductSelection.AllItems[$EachItem].Qty</elementReference>
        </defaultValue>
        <fieldText>Revenue Months</fieldText>
        <fieldType>InputField</fieldType>
        <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        <isRequired>true</isRequired>
        <scale>0</scale>
        <styleProperties>
          <verticalAlignment>
            <stringValue>top</stringValue>
          </verticalAlignment>
          <width>
            <stringValue>12</stringValue>
          </width>
        </styleProperties>
      </fields>
      <isRequired>false</isRequired>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>PriceBook_Selection</name>
    <label>PriceBook Selection</label>
    <locationX>574</locationX>
    <locationY>1082</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>Get_PriceBook_Entries</targetReference>
    </connector>
    <fields>
      <name>Select_PriceBook</name>
      <choiceReferences>selectPriceBook</choiceReferences>
      <extensionName>flowruntime:choiceLookup</extensionName>
      <fieldText>Select PriceBook</fieldText>
      <fieldType>ComponentChoice</fieldType>
      <inputParameters>
        <name>placeholder</name>
        <value>
          <stringValue>Please select your PriceBook</stringValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <storeOutputAutomatically>true</storeOutputAutomatically>
      <styleProperties>
        <verticalAlignment>
          <stringValue>top</stringValue>
        </verticalAlignment>
        <width>
          <stringValue>12</stringValue>
        </width>
      </styleProperties>
    </fields>
    <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <start>
    <locationX>1500</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Get_User_Details</targetReference>
    </connector>
  </start>
  <status>Draft</status>
  <variables>
    <name>ContractType</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>currentItem_Collection_Filter_1</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Pricebook2</objectType>
  </variables>
  <variables>
    <name>Opportunity</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
    <objectType>Opportunity</objectType>
  </variables>
  <variables>
    <description>get the ID of the contact we are starting from</description>
    <name>recordId</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
    <objectType>Contact</objectType>
  </variables>
  <variables>
    <name>ShareType</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
</Flow>